	a#paypal {
		text-decoration: none;
		color: #fff;
	}
 
	#cart  .headerRow {
		display: none;
	}
 
 	#cart {
/* 
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
 */
		-webkit-backface-visibility: hidden;
		cursor: pointer;
/* 		height: 30px; */
		line-height: 30px;

		padding: 10px 10px 10px 10px;
		margin: 0;

		font-size: 1.4em;
/* 		font-weight: 200; */
/* 		letter-spacing: 2px; */
		color: #ffffff;
		text-shadow: 1px 1px 1px rgba(0,0,0,1);

	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,.8) 0%, rgba(0,0,0,.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,.8)), color-stop(100%,rgba(0,0,0,.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,.8) 0%,rgba(0,0,0,.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,.8) 0%,rgba(0,0,0,.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,.8) 0%,rgba(0,0,0,.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,.8) 0%,rgba(0,0,0,.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


	box-shadow: 
	0 0 10px rgba(0,0,0,.3), 
	inset 5px -5px 15px rgba(255,255,255,.1),
	inset 1px -1px 2px rgba(255,255,255,.1);

/*		border: #ffffff solid 1px;*/

/*
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
*/

		z-index: 1;
	}

	#cart .cartlist {
		display: none;
		background: rgba(255,255,255,.1);
		border-radius: 4px;
		padding: 10px;
		margin-top: 10px;
	}

	#cart .cartlist .simpleCart_total {
		font-size: 1.6em;
		font-weight: bold;
		float: right;
	}

	#cart div {
		display: inline;
	}

	#cart .simpleCart_quantity {
		padding-left: 10px;
	}

	#cart .simpleCart_remove, #cart .simpleCart_increment, #cart .simpleCart_decrement, #cart .simpleCart_checkout, #cart .simpleCart_empty {
		cursor: pointer;
/*		float: right;*/
		line-height: 16px;
		border-radius:3px;
		font-size: 15px;
		font-weight: normal;
		text-decoration: none;
		color:#d9d9d9;
		text-shadow:1px 1px 1px rgba(0,0,0,.5);
		padding:5px 10px;
		border:1px solid #000;
		box-shadow:inset 0 1px 0 #6d6d6e;
	
		border-color:#3D7530;
		background: #97c865; /* Old browsers */
		background: -moz-linear-gradient(top,  #97c865 0%, #44933d 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97c865), color-stop(100%,#44933d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #97c865 0%,#44933d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #97c865 0%,#44933d 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #97c865 0%,#44933d 100%); /* IE10+ */
		background: linear-gradient(top,  #97c865 0%,#44933d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97c865', endColorstr='#44933d',GradientType=0 ); /* IE6-9 */
		box-shadow:inset 0 1px 0 #D8E994;
		color:#fff;
	}

	#cart .itemRow {
		display: block;
	}

	#cart .item-artnr {
		font-size: 12px;
		padding: 0 10px;
	}

	#cart .item-name {
		font-weight: bold;
		padding-right: 10px;
	}

	#cart .item-price {
		padding-right: 10px;
	}

	#cart .item-quantity {
		padding: 0 10px;
	}

	#cart .simpleCart_increment, #cart .simpleCart_decrement {
		display: inline-block;
		font-weight: bold;
		width: 18px;
		height: 18px;
		padding: 0;
		text-align: center;
	}

	#cart .simpleCart_remove {
		float: right;
	}