/* FOOTER */

#footer {
	position: relative;
	display: block;
	height: 32px;

	background: #fff;

	list-style: none;
	padding: 30px 0 30px 30px;
	margin: 0;
	text-align: right;

	border-radius: 0 0 8px 8px;

}

#footer .tel {
	color:#c4c4c4;
	display; block;
	float: left;
	font-size:32px;
	font-weight: 200;
	letter-spacing:1px;
	line-height:32px;
	margin-right: 15px;
}

#footer .mail {
	color:#c4c4c4;
	display; block;
	float: left;
	font-size: 1.2em;
	font-weight: 200;
	letter-spacing:1px;
	line-height:32px;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
	margin-right: 15px;
}

#footer .vcard {
	color:#c4c4c4;
	display; block;
	float: left;
	font-size:1.2em;
	font-weight: 200;
	letter-spacing:1px;
	line-height:32px;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
}

#footer .mail a, #footer .vcard a {
	color:#afafaf;
	text-decoration: none;
}

#footer .icons {
	display: inline-block;
	float: right;
	margin-right: 28px;
}
