 /* GALLERY */
 
.album, .albumwide {
	position: relative;
	float: left;
	padding: 5px;
	margin: 30px 0 0 30px;
	cursor: pointer;
	text-align: center;
	height: 197px;

	border-radius: 2px;

	box-shadow:         2px 2px 10px rgba(0,0,0,.75);

}

.album {
	width: 277px;
	height: 205px;
	-webkit-backface-visibility: hidden;
	background: rgba(255,255,255,.75);
}
