/* Prints */

	#tavla {
		width: 980px;
		height: 475px;
/* 		margin-top: 50px; */
	}

	#ram {
		-webkit-backface-visibility: hidden;
		display: block;
		float: left;
	
		padding: 20px;
		margin: 30px 15px 30px 30px;
		cursor: pointer;
		text-align: center;
	
		border-radius: 2px;
	
		box-shadow:         2px 2px 10px rgba(0,0,0,.6);
	
		background: rgb(69,72,77); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	}

	#passepartout {
		background: #ffffff;
		padding: 35px 35px 35px 35px;
        box-shadow:         inset 0px 0px 10px rgba(0,0,0,0.2);

	}

	#tavlatext_landscape {
		display: block;
		float: left;
		width: 225px;
		height: 352px;
		padding: 30px;
		margin: 30px 0 30px 30px;
	}

	#tavlatext_portrait {
		display: block;
		float: left;
		width: 135px;
		height: 352px;
		padding: 30px;
		margin: 30px 0 30px 30px;
	}


	#tavlatext_landscape img, #tavlatext_portrait img {
		margin: -30px 0 0 -30px;
	}

	#tavlatext_landscape img, #tavlatext_portrait h2 {
/*
		font-size:1em;
		font-weight: 200;
*/
	}

	.price {
		color: #e2e2e2;
		font-size:2em;
		font-weight: normal;
		text-shadow:1px 1px 1px rgba(0,0,0,.8);
	}

	.price .currency {
		font-size:0.5em;
	}

	#tavlatext_landscape .blackbutton.item_add {
		position: absolute;
		bottom: 20px;
		right: 20px;
	}

	#tavlainfo {
		width: 420px;
		height: 30px;
		margin: 10px 30px;
		padding: 5px;
	}

	#tavlainfo ul {
		float: left;
		font-size: 0.8em;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	#tavlainfo ul li {
		display: inline-block;
		margin: 0 5px;
		font-weight: normal;
	}