
	html {
	    font-size: 62.5%
	}

	body {
		background-color: #2D2E2F;
/* 		background-image: url(images/iosbg.jpg); */
		margin: 0;
/* 
		font-family: HelveticaNeue, Helvetica Neue, Helvetica, Tahoma, Geneva, Arial, sans-serif;
		font-weight:100;
		font-size: 1em;
 */
		 font-size: 1.2em;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		color: #747474;
	}

	hr {
		border: 0;
		height: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}

	fieldset {
		border: none;
		padding: 0;
		margin: 0;
	}

	a {
		color: #747474;
	}

	a#studiomap {
		text-decoration: none;
	}

	img {
		border: none;
	}

	.hidden {
		display: none;
	}

	::-webkit-input-placeholder {
	   color: #e2e2e2;
	}
	
	:-moz-placeholder {  
	   color: #e2e2e2;
	}
	
	:-ms-input-placeholder {  
	   color: #e2e2e2;
	}

/* GLOBAL */

	#outerContainer {
		display: block;
		margin: 0 0 100px 0;
	}

	#mainArea {
		box-shadow: 0 0 100px #000;
		display: block;
		width: 980px;
		text-align: left;
		margin: 0 auto;
/*		background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(0,0,0,0.8)), color-stop(1,#333333));*/
	}

/* Loading */

	.loading {
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		height: 16px;
		padding: 20px;
		text-align: center;
		width: 140px;
		position: absolute;
		left: 50%;
		top: 50%; 
		margin-left: -80px;
		margin-top: -10px;
		text-shadow: 1px 1px 1px rgba(0,0,0,.6);
		background: rgba(0,0,0,.2);
		border-radius: 4px;
	}

	#flickr_loading {
		font-size: 1.6em;
		font-weight: 100;
		letter-spacing: 1px;
		width: 200px;
		height: 16px;
		position: absolute;
		left: 50%;
		margin-left: -70px;
		margin-top: 35px;
		text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	}

/* HEADER */

	#headerContainer {
		position: relative;
		width: 920px;
		height: 25px;
		padding: 25px 30px 25px 30px;
		cursor: pointer;

		background: rgb(255,255,255); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	}

	#headerContainer .name {
		display: none;
		letter-spacing: 0;
		font-size: 30px;
		font-weight: 500;
/*		text-shadow: 1px 1px 0px #000;*/
/*		text-shadow: 1px 1px 0px #fff, 3px 2px 4px rgba(0,0,0,0.2);*/
		color: rgba(116, 116, 116,.6);
/*		color: #fff;*/
/*		text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;*/

	}

	#headerContainer .slogan {
		display: none;
		letter-spacing: 2px;
		font-size: 0.688em;
		font-weight: 100;
	}

	#headerContainer .logo {
		border: none;
	}

	#headerContainer .icon {
		display: none;
		position: absolute;
		right: 30px;
		top: 0;
		line-height: 84px;
		font-size: 42px;
		font-weight: normal;
		opacity: .5;
	}


/* PAGE */

	#pageContainer {
		background-color: #fff;
		height: 210px;
	}

/* MENU */

	ul#menu {
		background: #F9F9F9;

		text-shadow: 0 1px 1px rgba(255,255,255,1);
		line-height: 75px;
		height: 75px;
		list-style-type: none;
		padding: 0 70px;
		margin: 0;
		clear: left;
		overflow: hidden;
		text-align: center;

		box-shadow:
		inset 10px 15px 15px rgba(255,255,255,1)

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	ul#menu li {
		-webkit-backface-visibility: hidden;
		display: table-cell;
/*		width: 196px;*/
		width: auto;
		height: 75px;
/*		background: red;*/
		cursor: pointer;
		padding: 0 44px;
		margin: 0;
		font-size: 1.4em;
		font-weight: 400;
/* 		letter-spacing: 1px; */
		overflow: hidden;
		white-space: nowrap;
		text-shadow: 0 1px 0 rgba(255,255,255,1);
	}


	ul#menu li .pre {
		font-weight: 200;
		color: #b2b2b2;
	}


	ul#menu li.spacer {
		height: inherit;
		width: 0;
		margin: 0;
		padding: 0 0 1px 0;
		opacity: .6;

		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
		background: -moz-linear-gradient(top,  rgba(239,239,239,0) 0%, rgba(239,239,239,0.4) 20%, rgba(204,204,204,1) 50%, rgba(239,239,239,0.4) 80%, rgba(239,239,239,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,0)), color-stop(20%,rgba(239,239,239,0.4)), color-stop(50%,rgba(204,204,204,1)), color-stop(80%,rgba(239,239,239,0.4)), color-stop(100%,rgba(239,239,239,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(239,239,239,0) 0%,rgba(239,239,239,0.4) 20%,rgba(204,204,204,1) 50%,rgba(239,239,239,0.4) 80%,rgba(239,239,239,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(239,239,239,0) 0%,rgba(239,239,239,0.4) 20%,rgba(204,204,204,1) 50%,rgba(239,239,239,0.4) 80%,rgba(239,239,239,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(239,239,239,0) 0%,rgba(239,239,239,0.4) 20%,rgba(204,204,204,1) 50%,rgba(239,239,239,0.4) 80%,rgba(239,239,239,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(239,239,239,0) 0%,rgba(239,239,239,0.4) 20%,rgba(204,204,204,1) 50%,rgba(239,239,239,0.4) 80%,rgba(239,239,239,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00efefef', endColorstr='#00efefef',GradientType=0 ); /* IE6-8 */
	}

	ul#menu li.selected {
/*		background: #ccc;*/
	}

	ul#menu li#index {
		position: absolute;
		margin-left: -65px;
		font-size: 26px;
		opacity: .5;
	}

/* INFO PAGE */

	h2, h4, label {
		text-shadow: 1px 1px 1px rgba(255,255,255,1);
	}

	.infoContainer {
		display: none;
		position: relative;
		width: 1024px;
		height: 600px;
		padding: 30px;
/*		margin: 30px;*/
		overflow-y: scroll;

		-moz-column-count: 2;
		-moz-column-gap: 30px;
		-webkit-column-count: 2;
		-webkit-column-gap: 30px;
		column-count: 2;
		column-gap: 30px;
	}

	.infoContainer h2 {
		margin: 0 0 20px 0;
	}

	.infoContainer .question {
		font-weight: bold;
		padding: 0 0 5px 0;
	}

	.infoContainer .answer {
		padding-bottom: 15px;
	}

	.infoContainer button.closeinfo {
		
	}

	.blogContainer {
		display: block;
		width: 860px;
		height: 405px;
		padding: 30px;
		margin: 30px 30px 0 30px;
		overflow: auto;
	}


	.textContainerLeft {
		display: block;
		width: 385px;
		padding: 30px;
		margin: 30px 15px 0 30px;
		float: left;
	}

	.textContainerLeft#portrait, 
	.textContainerRight#wedding,
	.textContainerLeft#photoshop,
	.textContainerRight#studio,
	.textContainerLeft#uppdrag {
		height: 155px;
		overflow: hidden;
	}


	.textContainerLeft #price {
		color: red;
		font-size:1.563em;
		text-align: right;
		position: absolute;
		width: 170px;
		margin-top: -43px;
	}

	.textContainerLeft ul {
		list-style-type: square;
		color:#666666;

		font-size:0.750em;
		font-weight:normal;
/*		letter-spacing:0;*/
/*		margin:0 0 0 0;*/
		padding:0 0 0 15px;
		text-align:left;
	}

	.textContainerLeft ul li {
		margin: 10px 0 0 0;
	}

	.textContainerLeft .info {
		color:#666666;
		font-size:0.688em;
		font-style: italic;
		line-height: 12px;
	}

	.textContainerRight {
		display: block;
		width: 385px;
		float: right;
/*		padding: 30px 50px 30px 0;*/
		padding: 30px;
		margin: 30px 30px 0 15px;
/*		border: green solid;*/
/*		background: red;*/
	}

	.textContainerRight #price {
		color: red;
		font-size:1.563em;
		text-align: right;
		position: absolute;
		width: 290px;
		margin-top: -43px;
	}

	.textContainerRight ul {
		list-style-type: square;
		color:#666666;

		font-size:0.750em;
		font-weight:normal;
/*		letter-spacing:0;*/
/*		margin:0 0 0 0;*/
		padding:0 0 0 15px;
		text-align:left;
	}

	.textContainerRight ul li {
		margin: 10px 0 0 0;
	}

	.textContainerRight .info {
		color:#666666;
		font-size:0.688em;
		font-style: italic;
		line-height: 12px;
	}

	#imageContainerRight {
		background: #fff;
		display: block;
		width: 400px;
/* 		height: 150px; */
/*		padding: 0px 30px 30px 30px;*/
		padding: 30px;
		margin: 30px 30px 30px 0;
		float: right;
	}

	#imageContainerLeft {
		background: #ffffff;
		display: table;
		width: 400px;
		height: 150px;
		float: left;
/*		padding: 0px 30px 30px 30px;*/
		padding: 30px;
		margin: 0 0 30px 30px;
/*		border: red solid;*/
	}

	#imageContainerCenter {
		display: table;
/*		width: 370px;*/
/*		float: left;*/
		padding: 15px 30px 0px 30px;
/*		border: red solid;*/
	}

	#imageContainerSmall {
		padding: 5px;
		border: #f5f5f5 solid 1px;
		display: block;
/*		width: 50px;*/
		height: 50px;
		float: left;
		margin: 0 5px 0 0;
	}


	.h150 {
		height: 150px;
	}

	.h220 {
		height: 220px;
	}

	.h75 {
		height: 75px;
	}

	.h264 {
		height: 264px;
	}

	.h350 {
		height: 350px;
	}

	.h370 {
		height: 370px;
	}

	.bggray {
		background-color: #f5f5f5;
	}

	.nopaddingbottom {
		padding-top: 0;
	}

/* NEWS PAGE */

	.exclusive_news {
/*
		background-color: #fffbee;
		border-top: #fff2c5 solid 1px;
		border-bottom: #fff2c5 solid 1px;
*/
/*		background: transparent url(../images/newsbgtxt.png) no-repeat 0px 0px;*/
	}

	#newsTextContainerLeft {
		background-color: #fff;
		display: block;
		width: 460px;
		height: 175px;
		padding: 30px 15px 20px 30px;
		float: left;
/*		background: green;*/
	}

	#newsImageContainerRight {
		background-color: #fff;
		display: block;
		width: 445px;
		height: 175px;
		padding: 30px 30px 20px 0;
		float: right;
		text-align: right;
	}

	#newsImageContainerRight img {
/*		border: #f5f5f5 solid 1px;*/
/*
		border: #fff solid 1px;
		background-color: #000;
		padding: 4px;
*/
		border-radius: 2px;
		box-shadow:         2px 2px 10px rgba(0,0,0,.4);
		padding: 5px;
	}

	h4 {
		color:#8B8B8B;
		font-size:1em;
		font-style:normal;
		font-weight:200;
		letter-spacing:4px;
		margin:0 0 10px;
		padding:0;
		text-align:left;
		text-transform:uppercase;
	}

	h2 {
		font-size:3.2em;
		font-weight: 100;
		letter-spacing:2px;
		line-height:30px;
		text-align:left;
		text-decoration: none;
		margin: 15px 0;
	}

	p {
		color:#7a7a7a;
		font-size: 1.2em;
		font-weight:normal;
		line-height:18px;
		margin:0 0 0 0;
		padding:0;
		text-align:left;
	}

	#newsTextContainerLeft a, .textContainerLeft a, .textContainerRight a {
/*		font-size: 0.875em;*/
		font-weight:400;
		text-decoration: underline;
/*		font-weight: bold;*/
	}

	.newsruler {
		border: 0;
/*		background-color: #f7f7f7;*/
/*		background-color: #efefef;*/
		background-color: #fff;
		height: 1px;
		margin: 0;
		clear: left;
/*		visibility: hidden;*/
	}

	#newsColumn {
		width: 145px;
		padding: 0 10px 0 0;
/*		border-bottom: #e2e2e2 solid 1px;*/
		border-left: #f7f7f7 solid 1px;
		margin: 30px 0 0 0;
		float: right;
	}

	#newsColumn li {
		list-style-type: none;
	}

	#newsColumn li a {
		text-decoration: none;
		border-bottom: #f7f7f7 solid 1px;
		display: table;
		width: 145px;
		padding: 4px;
	}

	#newsColumn li a:hover {
		text-decoration: none;
		border-bottom: #f7f7f7 solid 1px;
		display: table;
		width: 145px;
		background-color: #e2e2e2;
		padding: 4px;
	}

	#newsColumn h4 {
		color:#666666;
		font-size:0.5em;
		font-style:normal;
		font-weight:normal;
		letter-spacing:4px;
		margin:0;
		padding:0;
		text-align:left;
		text-transform:uppercase;
	}

	#newsColumn h2 {
		font-size:0.750em;
		font-weight:normal;
		letter-spacing:0;
		line-height:14px;
		text-align:left;
		text-decoration: none;
	}

	h4 a {
		color: black;
		text-decoration: none;
	}

/* GALLERY */

	div#gallerycontainer {
		display: block;
		width: 980px;
		height: 525px;
		padding: 0;
		overflow: hidden;
/*		overflow: auto;*/
/*
		overflow-x:scroll;
		overflow-y:hidden; 
*/

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	div#gallerycontainerbg {
/* 		background-color: #000000; */
/* 		background-image: url(images/floorbg.jpg); */
/* 		background-position: 0 -110px; */
        box-shadow:         inset 0px 0px 30px rgba(0,0,0,0.3);
	}

 	.album .mask {

		display: none;

		position: absolute;
		
		top: 5px;
		right: 5px;
		bottom: 5px;
		left: 5px;

 		background: #000;
 		background: rgba(0,0,0,.8);
 		opacity: .8;
 		overflow: hidden;

		font-size: 40px;
		
		color: #fff;
		font-weight: bold;

		box-shadow:inset 0 0 40px rgba(0,0,0,1);

		text-shadow: 0 0 10px rgba(0,0,0,1);
 	}
	.album .mask i {
		display: block;
		margin: 30px 0 0 0;
		font-size: 100px;
		color: #fff;
	}

 	.album .mask small {
 		display: block;
 		font-size: 11px;
 	}
 
/*
	div.gName {
		position: absolute;
		width: 265px;
		font-size:1.063em;
		font-weight: 800;
		color: #886651;
		letter-spacing:2px;
		margin: 0px;
		padding: 0px;
		line-height: 13pt;
		margin: 15px 0 0 0;
		text-align: center;
		text-shadow: 0px 0px 4px rgba(255,255,255,.7);
	}
*/
 

/*
	div.gName {
		position: relative;
 		width: 253px;
		font-size: 0.8em;
		font-weight:100;
		color: #ffffff;
		letter-spacing:1px;
		padding: 4px 2px;
		margin: -27px 0 0 4px;
		text-align: center;
		text-shadow: 1px 1px 1px rgba(0,0,0,1);
		border-radius: 2px;		
		background: rgba(0,0,0,.8);
	}
*/

	div.gName {
		display: none;
		position: relative;
 		width: 273px;
 		text-transform: uppercase;
		font-size: 16px;
/*		font-weight: 600;*/
		letter-spacing:1px;
		padding: 4px 2px;
		margin: 10px 0 0 0;
		text-align: center;
	color: #fff;
	text-shadow: 
		0 1px 2px #000000, 
		0 0 10px #fff, 
		0 0 15px #fff, 
		0 0 20px #fff, 
		0 0 35px #fff, 
		0 0 40px #fff, 
		0 0 50px #fff, 
		0 0 75px #fff;

/*		border-radius: 2px;		*/
/*		background: rgba(0,0,0,.8);*/
		opacity: .75;
	}

	div.gName.hover {
		opacity: 1;
/*		zoom: 2;*/
/*		letter-spacing: 4px;*/
		-webkit-backface-visibility: hidden;
		transition: all .5s;
		-moz-transition: all .5s; /* Firefox 4 */
		-webkit-transition: all .5s; /* Safari and Chrome */
		-o-transition: all .5s; /* Opera */
	}

.album, .albumwide {
	position: relative;
	float: left;
	padding: 5px;
	margin: 30px 0 0 30px;
	cursor: pointer;
	text-align: center;
	height: 197px;

	border-radius: 2px;

	box-shadow:         2px 2px 10px rgba(0,0,0,.75);

}

.albumwide {
/*
	background: #e8dfbd;
	border: #c3ab55 solid 1px;
*/
}

.album {
	width: 277px;
	height: 205px;
	-webkit-backface-visibility: hidden;
	background: rgba(255,255,255,.75);
}

.album.hover {
/*
	transform:rotate(1deg);
	-ms-transform:rotate(1deg);
	-moz-transform:rotate(1deg);
	-webkit-transform:rotate(1deg);
	-o-transform:rotate(1deg);
*/

	background: rgb(255,255,255);

	-webkit-backface-visibility: hidden;
	transition: all .5s;
	-moz-transition: all .5s; /* Firefox 4 */
	-webkit-transition: all .5s; /* Safari and Chrome */
	-o-transition: all .5s; /* Opera */
}
.album .mask:hover, .flickr_image:hover {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}

.album.selectedthumb {

	background: #000000;
}

/* INFORMATION */

/*
	#informationContainer {
		padding: 30px;
	}
*/

/* CONTACT */

	#contactform {
		padding: 30px 0 30px 30px;
		margin: 30px 0 30px 30px;
		width: 390px;
		height: 400px;
		float: left;
	}

	#contactform label {
		padding: 20px 0 5px 0;
		margin: 0;
		display: table;

		font-size: 1.8em;
		font-weight:100;
		letter-spacing:1px;
	}

	#contactform label:first-child {
		padding-top: 0;
	}

	#contactform input[type=text], #contactform textarea {

		border: #e2e2e2 solid 1px;
		font-size: 1.4em;
		font-weight: 200;
		font-family: inherit;
		padding: 6px;
		width: 346px;
		color: #999;
		border-radius: 4px;
	}
	#contactform input[type=text]:hover, #contactform textarea:hover,
	#contactform input[type=text]:focus, #contactform textarea:focus
	{
		box-shadow: 0 0 10px rgba(0,0,0,.2);
		border: #cccccc solid 1px;
	}

/*
	#contactform .contactname {
		border: #e2e2e2 solid 1px;
		font-size: 0.875em;
		padding: 6px;
		width: 340px;
	}
*/
/* 	#contactform .contactname:focus { border-color: #f57a9e; } */

/*
	#contactform .contactemail {
		border: #e2e2e2 solid 1px;
		font-size: 0.875em;
		padding: 6px;
		width: 340px;
	}
*/
/* 	#contactform .contactemail:focus { border-color: #f57a9e; } */

	#contactform .contactmessage {
		height: 120px;
	}
/* 	#contactform .contactmessage:focus { border-color: #f57a9e; } */

	#contactform .contactsend {

		position: absolute;
		bottom: 30px;
		left: 30px;
	}

	.contactinfo {
		width: 160px;
		height: 400px;
		padding: 30px;
		margin: 30px 30px 30px 0;
		float: right;
	}

	.contactinfo h2 {
/*	font-size:1.8em;*/
	line-height:25px;
/*
		font-size:1.35em;
		font-weight:200;
		letter-spacing:0px;
		line-height:20px;
		text-align:left;
		text-decoration:none;
		white-space: nowrap;
*/
	}

	.contactinfo h2:first-child {
		margin-top: 0;
	}

	.contactinfo p {


	}

	.contactinfo em {
		font-style: normal;
	}

	ul.contact {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	ul.contact li.tel {

		font-size: 2em;
		font-weight: 400;
		text-shadow: 1px 1px 1px rgba(255,255,255,1);
		white-space: nowrap;
		margin: 0 0 15px 0;
	}

	#mailstatus {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;

		width: 350px;
		height: 60px;
		line-height: 60px;

		margin: -30px 0 0 -200px;

		background-color: #d9f1da;
		background-color: rgba(217,241,218,.9);

		-webkit-backface-visibility: hidden;
		border-radius: 2px;
	
		box-shadow:         2px 2px 10px rgba(0,0,0,.5);

		padding: 3px;
		color: #3b773e;
/*		border: #3b773e solid 1px;*/
		font-size: 20px;
		font-weight: normal;
		text-shadow: 1px 1px 1px rgba(255,255,255,1);
		text-align: center;
		z-index: 9999999999;
	}
	#mailstatus a {
		color: #3b773e;
	}

	.me {
		-webkit-backface-visibility: hidden;
		background: url(images/jag.jpg);
		overflow: hidden;
		border-radius: 2px;
		background-position: -110px -15px;
		-moz-background-size: 380px; /* Firefox 3.6 */
		background-size: 380px;
		position: relative;
		top: -30px;
		left: -30px;
		width: 220px;
/*		height: 460px;*/
		height: 460px;
	}

/* DOWNLOAD */

#downloadContainer {
	padding: 30px;
}

/* COPYRIGHT */

/*
div#copyright {
	position: absolute;
	color: #AFAFAF;
	font: 0.8em "Trebuchet MS",Verdana,sans-serif;
	padding: 0 0 0 30px;
}
*/


/* FOOTER */

div#iconfooter {
	display: none;
	position: absolute;
	width: 99%;
	bottom: 0px;
	text-align: right;
	vertical-align: center;
	background-color: none;
	clear: left;
	padding: 5px 0 5px 0;
	z-index: 99;
}

#flickricon {

}

.footer {
/*	background-image: url(../images/footerbg.jpg);*/
/*	background-color: #f7f7f7;*/
/*	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.1)), to(rgba(239,239,239,1)), color-stop(0,#fff));*/
/*	text-shadow:0 1px 1px rgba(0,0,0,1);*/
	display: none;
	width: 980px;
	height: 60px;
/*
	position: fixed;
	bottom: 5px;
	width: 100%;
*/

/*	height: 20px;*/
	text-align: center;
/*	border: green solid;*/
/*	border-top: #f7f7f7 solid 1px;*/
/*	padding: 10px 0 15px 0;*/
/*	margin: 10px 0 10px 0;*/
	clear: left;

/*
	border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
*/
	opacity: .2;
}

/*
.footerTel {
	display: block;
	float: left;
	line-height: 60px;
	padding: 0 0 0 30px;
	letter-spacing: 2px;
	font-size: 1.500em;
	font-weight: 500;
}

.footerComp {
	display: block;
	float: right;
	padding: 0 30px 0 0;
	line-height: 60px;
	letter-spacing: 2px;
	font-size: 0.688em;
	font-weight: 400;
	color: #fff;
}

.footerLinks {
	display: block;
	line-height: 60px;
	padding: 0 0 0 15px;
	float: left;
	letter-spacing: 1px;
	font-size: 0.688em;
	font-weight: 200;
}

A.footerLink {
	font-weight: 400;
	color: #fff;
}

A.footerLink:hover {
}
*/

/*
A.tel {
	color: #fff;
}
*/

#newsTextContainerLeft a img {	
border: #f7f7f7 solid 1px;
padding: 4px;
}

.badbrowser {
	padding: 20px;
	text-align: center;
}

/* Fancybox social */

.fancybox-title iframe {
    min-height: 36px;
    vertical-align: middle;
}

.fancybox-title-float-wrap .child {
	background: none !important;
}

a.pin-it-button {
	height: 30px !important;
	line-height: 30px;
	margin: 10px 4px 0 0;
}

/* Social */

#social {
	position: relative;
	display: block;
	height: 32px;

	background: #fff;
/*
	background: rgb(254,254,254);
	background: -moz-linear-gradient(top,  rgba(254,254,254,1) 17%, rgba(242,242,242,1) 49%, rgba(226,226,226,1) 50%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(17%,rgba(254,254,254,1)), color-stop(49%,rgba(242,242,242,1)), color-stop(50%,rgba(226,226,226,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 17%,rgba(242,242,242,1) 49%,rgba(226,226,226,1) 50%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,254,254,1) 17%,rgba(242,242,242,1) 49%,rgba(226,226,226,1) 50%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,254,254,1) 17%,rgba(242,242,242,1) 49%,rgba(226,226,226,1) 50%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(254,254,254,1) 17%,rgba(242,242,242,1) 49%,rgba(226,226,226,1) 50%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ffffff',GradientType=0 );
*/

	list-style: none;
	padding: 30px 0 30px 30px;
	margin: 0;
	text-align: right;

	border-radius: 0 0 8px 8px;

}

#social .tel {
	color:#c4c4c4;
	display; block;
	float: left;
	font-size:32px;
	font-weight: 200;
	letter-spacing:1px;
	line-height:32px;
/*	text-shadow: 1px 1px 1px rgba(255,255,255,1);*/
	margin-right: 15px;
}

#social .mail {
	color:#c4c4c4;
	display; block;
	float: left;
	font-size: 1.2em;
	font-weight: 200;
	letter-spacing:1px;
	line-height:32px;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
	margin-right: 15px;
}

#social .vcard {
	color:#c4c4c4;
	display; block;
	float: left;
	font-size:1.2em;
	font-weight: 200;
	letter-spacing:1px;
	line-height:32px;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
}

#social .mail a, #social .vcard a {
	color:#afafaf;
	text-decoration: none;
}

#social .icons {
	display: inline-block;
	float: right;
	margin-right: 28px;
}

/* curl effect */

.box {
	position: relative;
	-webkit-backface-visibility: hidden;
	border-radius: 2px;

	box-shadow:         2px 2px 10px rgba(0,0,0,.5);

	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(247,247,247,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 47%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 47%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 47%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 47%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

.blackbox {
	border-radius: 2px;
	box-shadow: 2px 2px 10px rgba(0,0,0,.5);
	background: #000000;
}

/* 

.curl
{
  position: relative;
  width: 60%;
  background: #ddd;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2em 1.5em;
  color: rgba(0,0,0, .8);
  text-shadow: 0 1px 0 #fff;
  line-height: 1.5;
  margin: 60px auto;
}

.curl:before, .curl:after 
{
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%; 
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7); 
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);    
  -moz-transform: rotate(-3deg);   
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.curl:after 
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
 */
 
	a#paypal {
		text-decoration: none;
		color: #fff;
	}
 
	#cart  .headerRow {
		display: none;
	}
 
 	#cart {
/* 
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
 */
		-webkit-backface-visibility: hidden;
		cursor: pointer;
/* 		height: 30px; */
		line-height: 30px;

		padding: 10px 10px 10px 10px;
		margin: 0;

		font-size: 1.4em;
/* 		font-weight: 200; */
/* 		letter-spacing: 2px; */
		color: #ffffff;
		text-shadow: 1px 1px 1px rgba(0,0,0,1);

	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,.8) 0%, rgba(0,0,0,.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,.8)), color-stop(100%,rgba(0,0,0,.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,.8) 0%,rgba(0,0,0,.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,.8) 0%,rgba(0,0,0,.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,.8) 0%,rgba(0,0,0,.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,.8) 0%,rgba(0,0,0,.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


	box-shadow: 
	0 0 10px rgba(0,0,0,.3), 
	inset 5px -5px 15px rgba(255,255,255,.1),
	inset 1px -1px 2px rgba(255,255,255,.1);

/*		border: #ffffff solid 1px;*/

/*
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
*/

		z-index: 1;
	}

	#cart .cartlist {
		display: none;
		background: rgba(255,255,255,.1);
		border-radius: 4px;
		padding: 10px;
		margin-top: 10px;
	}

	#cart .cartlist .simpleCart_total {
		font-size: 1.6em;
		font-weight: bold;
		float: right;
	}

	#cart div {
		display: inline;
	}

	#cart .simpleCart_quantity {
		padding-left: 10px;
	}

	#cart .simpleCart_remove, #cart .simpleCart_increment, #cart .simpleCart_decrement, #cart .simpleCart_checkout, #cart .simpleCart_empty {
		cursor: pointer;
/*		float: right;*/
		line-height: 16px;
		border-radius:3px;
		font-size: 15px;
		font-weight: normal;
		text-decoration: none;
		color:#d9d9d9;
		text-shadow:1px 1px 1px rgba(0,0,0,.5);
		padding:5px 10px;
		border:1px solid #000;
		box-shadow:inset 0 1px 0 #6d6d6e;
	
		border-color:#3D7530;
		background: #97c865; /* Old browsers */
		background: -moz-linear-gradient(top,  #97c865 0%, #44933d 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97c865), color-stop(100%,#44933d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #97c865 0%,#44933d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #97c865 0%,#44933d 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #97c865 0%,#44933d 100%); /* IE10+ */
		background: linear-gradient(top,  #97c865 0%,#44933d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97c865', endColorstr='#44933d',GradientType=0 ); /* IE6-9 */
		box-shadow:inset 0 1px 0 #D8E994;
		color:#fff;
	}

	#cart .itemRow {
		display: block;
	}

	#cart .item-artnr {
		font-size: 12px;
		padding: 0 10px;
	}

	#cart .item-name {
		font-weight: bold;
		padding-right: 10px;
	}

	#cart .item-price {
		padding-right: 10px;
	}

	#cart .item-quantity {
		padding: 0 10px;
	}

	#cart .simpleCart_increment, #cart .simpleCart_decrement {
		display: inline-block;
		font-weight: bold;
		width: 18px;
		height: 18px;
		padding: 0;
		text-align: center;
	}

	#cart .simpleCart_remove {
		float: right;
	}

/* Prints */

	#tavla {
		width: 980px;
		height: 475px;
/* 		margin-top: 50px; */
	}

	#ram {
		-webkit-backface-visibility: hidden;
		display: block;
		float: left;
	
		padding: 20px;
		margin: 30px 15px 30px 30px;
		cursor: pointer;
		text-align: center;
	
		border-radius: 2px;
	
		box-shadow:         2px 2px 10px rgba(0,0,0,.6);
	
		background: rgb(69,72,77); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	}

	#passepartout {
		background: #ffffff;
		padding: 35px 35px 35px 35px;
        box-shadow:         inset 0px 0px 10px rgba(0,0,0,0.2);

	}

	#tavlatext_landscape {
		display: block;
		float: left;
		width: 225px;
		height: 352px;
		padding: 30px;
		margin: 30px 0 30px 30px;
	}

	#tavlatext_portrait {
		display: block;
		float: left;
		width: 135px;
		height: 352px;
		padding: 30px;
		margin: 30px 0 30px 30px;
	}


	#tavlatext_landscape img, #tavlatext_portrait img {
		margin: -30px 0 0 -30px;
	}

	#tavlatext_landscape img, #tavlatext_portrait h2 {
/*
		font-size:1em;
		font-weight: 200;
*/
	}

	.price {
		color: #e2e2e2;
		font-size:2em;
		font-weight: normal;
		text-shadow:1px 1px 1px rgba(0,0,0,.8);
	}

	.price .currency {
		font-size:0.5em;
	}

	#tavlatext_landscape .blackbutton.item_add {
		position: absolute;
		bottom: 20px;
		right: 20px;
	}

	#tavlainfo {
		width: 420px;
		height: 30px;
		margin: 10px 30px;
		padding: 5px;
	}

	#tavlainfo ul {
		float: left;
		font-size: 0.8em;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	#tavlainfo ul li {
		display: inline-block;
		margin: 0 5px;
		font-weight: normal;
	}

	.blackbutton, a.blackbutton {
		display: inline-block;
		font-size: 15px;
		font-weight: 500;
		text-decoration: none;
		color: #ffffff;
		padding: 7px 11px;
		margin: 0;
		cursor: pointer;

		background: rgb(163,163,163); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EzYTNhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNiM2IzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI0MjQyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(163,163,163,1) 0%, rgba(59,59,59,1) 50%, rgba(36,36,36,1) 50%, rgba(0,0,0,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(163,163,163,1)), color-stop(50%,rgba(59,59,59,1)), color-stop(50%,rgba(36,36,36,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(163,163,163,1) 0%,rgba(59,59,59,1) 50%,rgba(36,36,36,1) 50%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(163,163,163,1) 0%,rgba(59,59,59,1) 50%,rgba(36,36,36,1) 50%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(163,163,163,1) 0%,rgba(59,59,59,1) 50%,rgba(36,36,36,1) 50%,rgba(0,0,0,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(163,163,163,1) 0%,rgba(59,59,59,1) 50%,rgba(36,36,36,1) 50%,rgba(0,0,0,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a3a3', endColorstr='#000000',GradientType=0 ); /* IE6-8 */

		border-radius: 4px;
		border: 1px solid #000000;
		box-shadow:
			0px 1px 3px rgba(000,000,000,0.5),
			inset 0px 0px 1px rgba(255,255,255,0.6);
		text-shadow:
			0px -1px 0px rgba(000,000,000,1),
			0px 1px 0px rgba(255,255,255,0.2);

	}

	.closeinfo.blackbutton {
		position: absolute;
		bottom: 30px;
		right: 30px;
	}

/* 
	.showinfo.blackbutton {
		display: none;
		margin: 15px 0 0 0;
	}
 */

	.showinfo.plusbutton {
/* 		display: none; */
		position: absolute;
		bottom: 7px;
		right: 10px;
/*
		background: #fff;
		padding: 4px;
		border-radius: 8px;
		border: #000 solid 2px;
*/
		font-size: 24px;
		text-decoration: none;
	}

/* Page slide */

	#pageslides {
		width: 5880px;

/*
		-webkit-backface-visibility: hidden;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
*/

/*		-webkit-transform: translateX(0px);*/
	}

	.pageslide {
		display: block;
		position: relative;
		float: left;
		width: 980px;
        height: 525px;
	}

	#pageslide1 {
	}

/* Blog */

#blogsidebar {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 200px;
}

/* Slide */

/* 
.slides_container {
	display:none;
	-webkit-backface-visibility: hidden;
	width:980px;
	position:relative;
}

.slides_container .slide {
	position: relative;
	-webkit-backface-visibility: hidden;
	width: 980px;
	height:525px;
	display:block;
}
 */

/*
	Caption
*/

.caption {
	display: none;
	position: absolute;
	bottom: 30px;
	right: -980px;
	
	z-index: 10;

	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,.7) 0%, rgba(0,0,0,.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,.7)), color-stop(100%,rgba(0,0,0,.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,.7) 0%,rgba(0,0,0,.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,.7) 0%,rgba(0,0,0,.7) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,.7) 0%,rgba(0,0,0,.7) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,.7) 0%,rgba(0,0,0,.7) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


	text-shadow: 1px 1px 4px rgba(0,0,0,1);

	box-shadow: 
	0 0 10px rgba(0,0,0,.3), 
	inset 5px -5px 15px rgba(255,255,255,.1),
	inset 1px -1px 2px rgba(255,255,255,.1);
	

	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	-ms-border-radius: 4px 0 0 4px;


	color: #fff;
	font-size:18px;
	line-height: 20px;
	font-weight: 400;
	text-align: left;

	letter-spacing: 1px;

/*	padding: 12px 60px 12px 20px;*/
	padding: 12px 60px 12px 20px;
	margin-right: 0;
/*	opacity: 1;*/
}

.caption i {
/*	display: none;*/
/*	margin: 0 10px 0 0;*/
/*	opacity: .4;*/
}

.caption small {
	display: block;
/*	display: none;*/
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
/*	clear: left;*/
	color: #fff;
	white-space: nowrap;
/*	padding: 0 0 0 10px;*/
}

/* Menu arrow */

div.menuarrow {
	display: block;
	position: absolute;
	bottom: -20px;
	left: 0;
	right: 0;
	height: 25px;
	line-height: 15px;
	font-size: 40px;
	color: #F9F9F9;
	text-shadow: 0 -2px 10px rgba(255,255,255,.4);
	-webkit-backface-visibility: hidden;
}

/*
div.menuarrow i#galleryarrow {
	margin-left: 190px;
}

div.menuarrow i#tjansterarrow {
	margin-left: 420px;
}

div.menuarrow i#contactarrow {
	margin-left: 645px;
}
*/

/*
div.menuarrow i#tavlaarrow {
	margin-left: 680px;
}
*/

ul#share {
/*	display: none;*/
	position: absolute;
	top: 4px;
	right: 19px;
	z-index: 999999999;
	list-style-type: none;
	opacity: .1;

	-webkit-backface-visibility: hidden;
	transition: all .5s;
	-moz-transition: all .5s; /* Firefox 4 */
	-webkit-transition: all .5s; /* Safari and Chrome */
	-o-transition: all .5s; /* Opera */
}

ul#share:hover {
	opacity: 1;
}

ul#share li {

	text-align: right;
	margin: 0 0 10px 0;
}

/* Fancybox buy */

div#fancybuy {
	display: inline-block;
/* 
	display: block;
	position: absolute;
 */
	
}

/* Fancybox share */

div#fancyshare {
	display: none;
	position: fixed;
	left: 15px;
	top: 20px;
	opacity: .1;

	-webkit-backface-visibility: hidden;
	transition: all .5s;
	-moz-transition: all .5s; /* Firefox 4 */
	-webkit-transition: all .5s; /* Safari and Chrome */
	-o-transition: all .5s; /* Opera */
	z-index: 1006 !important;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
	
}
div#fancyshare:hover {
	opacity: 1;
}

div#fancyshare li {
	height: 25px;
}

/*
#fancyshare iframe, #fancyshare div.fb-like {
	min-width: 60px;
	margin: 0;
}
*/

/* Corousel */

#flickrContainer {
	background-color: #fff;
	padding: 15px 0 0 0;
	height: 95px;
	clear: right;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ul#carousel {

	height: 75px;

	display:none;
	background: #efefef;
	padding: 10px 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position:relative;
	margin: 0 30px;

	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow:    1px 1px 2px rgba(0,0,0,0.5);
	box-shadow:         1px 1px 2px rgba(0,0,0,0.5);

	background: rgb(69,72,77); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}

ul#carousel li {

	height:100%;
	float:left;
	display:block;
	margin-right: 8px;
}


ul#carousel li.feed-lastitem {
	display: block;

	color: #fff;
	width: 30px;
	height: 75px !important;
	line-height: 75px;
	font-size: 37px;
	text-shadow: 1px 1px 5px rgba(0,0,0,1);
	opacity: .2;
	margin: 0 0 0 0;
}

ul#carousel li.feed-lastitem:hover {
	opacity: .95;
	-webkit-backface-visibility: hidden;
	transition: all .5s;
	-moz-transition: all .5s; /* Firefox 4 */
	-webkit-transition: all .5s; /* Safari and Chrome */
	-o-transition: all .5s; /* Opera */
}


ul#carousel li.feed-lastitem a {
	text-decoration: none;
	color: #fff;
	font-weight: normal;
}

ul#carousel li.flickrdots {
	width: 15px;
	font-size: 40px;
	line-height: 15px;
	margin: 0 8px 0 0;
	text-align: center;
	padding-top: 20px;
}

ul#carousel li.flickrdots .d1 {
	display: block;
	color: #3993ff;
}

ul#carousel li.flickrdots .d2 {
	display: block;
	color: #ff1c92;
}

/* Slide */

/* Prevents slides from flashing */
#slides {
	display:none;
}

#slides .slidesjs-previous, #slides .slidesjs-next {

	display: none;
	position: absolute;
	font-size: 18px;
	line-height: 525px;
	color: #fff;
	text-decoration: none;
	text-shadow: 
		1px 1px 1px rgba(0,0,0,1),
		0 0 1px rgba(0,0,0,1);
	top: 0;
	width: 200px;
	z-index:999;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	transition: all .5s;
	-moz-transition: all .5s; /* Firefox 4 */
	-webkit-transition: all .5s; /* Safari and Chrome */
	-o-transition: all .5s; /* Opera */

}

#slides .slidesjs-previous {
	left: 0;
	text-align: left;
	padding: 0 0 0 30px;
}

#slides .slidesjs-next {
	right: 0;
	text-align: right;
	padding: 0 30px 0 0;
}

/* Add This */

.addthis-smartlayers {
	opacity: .2;
}
.addthis-smartlayers:hover {
	opacity: 1;
}

/* Badges */

	.badge {
		display: inline-block;
		vertical-align: text-top;
		margin-left: 6px;
		margin-top: 2px;
		padding: 0 5px;
		line-height: 16px;
		font-size: 11px;
		color: white;
		text-shadow: 0 1px #902a27;
		background: #e93631;
		border-radius: 2px;
		background-image: -webkit-linear-gradient(top, #f65d5f, #e93631);
		background-image: -moz-linear-gradient(top, #f65d5f, #e93631);
		background-image: -o-linear-gradient(top, #f65d5f, #e93631);
		background-image: linear-gradient(to bottom, #f65d5f, #e93631);
		-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.2);
		box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.2);
	}

